<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}" /></h1>
    </header>
    <div>
        <table>
            <tr>
                <th>{{localize "titanRPG.attributeDesc"}}</th>
                <th>{{localize "titanRPG.skillDesc"}}</th>
                <th>{{localize "titanRPG.attackTypeDesc"}}</th>
                <th>{{localize "titanRPG.rangeDesc"}}</th>
                <th>{{localize "titanRPG.damageDesc"}}</th>
                <th>{{localize "titanRPG.damageTypeDesc"}}</th>
            </tr>
            <tr>
                <td>
                    <select name="data.attribute">
                        {{#select data.attribute}}
                        {{#each config.attributes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <select name="data.skill">
                        {{#select data.skill}}
                        {{#each config.skills as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <select name="data.attackType">
                        {{#select data.attackType}}
                        {{#each config.attackTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <select name="data.range">
                        {{#select data.range}}
                        {{#each config.ranges as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="data.damage" type="text" value="{{data.damage}}" data-dtype="Number">
                </td>
                <td>
                    <select name="data.damageType">
                        {{#select data.damageType}}
                        {{#each config.damageTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
            </tr>
        </table>
        <textarea name="data.description">{{data.description}}</textarea>
    </div>
</form>